@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="span1"></div>
    <div class="span1">@RenderPage("Partials/_GameCard.cshtml")</div>
    <div class="span1">@RenderPage("Partials/_GameCard.cshtml")</div>
    <div class="span1">@RenderPage("Partials/_GameCard.cshtml")</div>
    <div class="span1">@RenderPage("Partials/_GameCard.cshtml")</div>
    <div class="span1">@RenderPage("Partials/_GameCard.cshtml")</div>

    <div class="span1">@RenderPage("Partials/_GameCard.cshtml")</div>
    <div class="span1">@RenderPage("Partials/_GameCard.cshtml")</div>
    <div class="span1">@RenderPage("Partials/_GameCard.cshtml")</div>
    <div class="span1">@RenderPage("Partials/_GameCard.cshtml")</div>
    <div class="span1">@RenderPage("Partials/_GameCard.cshtml")</div>
    <div class="span1"></div>
</div>

