@model TomorrowComesToday.Web.Controllers.ViewModels.Account.EditViewModel

@{
    ViewBag.Title = Model.IsNewRecord ?"Create Your Account" : "Update Your Account" ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8 col-md-offset-2">
    

    <h2>Hi, @ViewBag.AuthenticatedUserName</h2>
    
    @if (Model.HasUpdated)
    {
        <div class="alert alert-success alert-block"><strong>Woop!</strong> Totally saved all of that.</div>
    }
    
    @using(Html.BeginForm(Model.IsNewRecord ? "Create" : "Edit", "Account", FormMethod.Post, new {@class="form-horizontal"})){
        
        Html.EnableClientValidation(); 

        @Html.AntiForgeryToken()

        @Html.ValidationSummary()
        

        <fieldset>
            <legend>Edit your profile</legend>
            <div class="form-group">
                @Html.LabelFor(o => o.Username, new {@class = "col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(o => o.Username, new {@class = "form-control"})
                </div>
            </div>  
            
            <div class="form-group">
                @Html.LabelFor(o => o.PhoneNumber, new {@class = "col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(o => o.PhoneNumber, new {@class = "form-control"})
                </div>
            </div>  

            <div class="form-group">
                @Html.LabelFor(o => o.EmailAddress, new {@class = "col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(o => o.EmailAddress, new {@class = "form-control"})
                </div>
            </div>  
            
            <div class="form-group">
                <label class="col-md-2">Gravitar</label>
                <p class="col-md-10">)<p>
            </div>

            <div class="form-group">
                <div class="col-sm-4 col-md-offset-8">
                    <button type="submit" class="btn btn-success form-control"><i class="icon-save"></i> Update Details</button>
                </div>
            </div>
        </fieldset>
    }       
</div>
