@model TomorrowComesToday.Web.Mvc.Controllers.ViewModels.Event.EditEventViewModel

@{
    ViewBag.Title = "Create Meet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8 col-md-offset-2">

    <h2>Your new Meet</h2>
    @{ Html.EnableClientValidation(); }

    @using (Html.BeginForm("Create", "Meet" , FormMethod.Post, new { @class = "form-horizontal col-12" })){
        
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()

            <fieldset>
                <legend>Basic Details</legend>
                
            <div class="form-group">
                @Html.LabelFor(o => o.EventName, new {@class = "col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(o => o.EventName, new {@class = "form-control"})
                </div>
            </div>  
                        
            <div class="form-group">
                @Html.LabelFor(o => o.Description, new {@class = "col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(o => o.Description, new {@class = "form-control"})
                </div>
            </div>  
                
            <div class="form-group">
                @Html.LabelFor(o => o.StartTimeDay, new {@class = "col-md-2"})
                <div class="col-md-10">
                    <input class="form-control" type="datetime-local" id="createEventTimeStart" name="start" />
                </div>
            </div>  
                   
            <div class="form-group">
                <div class="col-sm-4 col-md-offset-8">
                    <button type="submit" class="btn btn-success form-control"><i class="icon-ok"></i> Create Meet</button>
                </div>
            </div>
                
        </fieldset>
    }
</div>